{include="header"}


  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="{$fsc->url()}"<><span class="glyphicon glyphicon-refresh" aria-hidden="true"></a></li>
    <li role="presentation" {if condition="!$fsc->editar"} class="active" {/if}><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Listar Categorías</a></li>
    <li role="presentation" ><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Insertar Categoría</a></li>
   {if condition="$fsc->editar"}
    <li role="presentation"  class="active"><a href="#editar" aria-controls="editar" role="tab" data-toggle="tab">Editar Categoría</a></li>
   {/if}
 </ul>

  <!-- Tab panes -->
  <div class="tab-content">
      <br><div role="tabpanel"  class=" tab-pane {if condition="!$fsc->editar"} active {/if}"  id="home"><!--listado-->

              <div class="table-responsive"><!--Listado-->
                  <table class="table table-hover">
                     <thead>
                         <tr>
                      <th class="text-center">Codigo</th>
                      <th class="text-center">Nombre Categoria</th>
                      <th class="text-center">Descripción</th>
                         </tr>
                     </thead>
                      {loop="$fsc->listado"}
                      <tr {if condition="$value->nombre==$fsc->user->nick"} class="bg-success" {else} class="bg-warning" {/if}>
                          <td class="text-center">
                              <a href="{$fsc->url()}&id={$value->id}">{$value->id}</a>
                          </td>
                          <td class="text-center">{$value->nombre}</td>
                          <td class="text-center">{$value->descripcion}</td>
                       </tr>
                      {/loop}
                  </table>
              </div>

      </div>
      <div role="tabpanel" class="tab-pane" id="profile"><!--Nueva Categoria-->
          <form class="form" action="{$fsc->url()}" method="post" >
            <div class="container">
              <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      Nombre Categoria:
                      <input type="text" name="nombre" value="" class="form-control"  autocomplete="off" required/>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      Descripción:
                      <textarea name="descripcion" rows="4" value="" class="form-control" required></textarea>
                    </div>
                  </div>
              </div>
              <div class="row">
                    <div class="text-right">
                        <button class="btn btn-sm btn-primary" type="sutmit">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                            &nbsp Guardar
                        </button>
                    </div>
              </div>
           </div>
        </form>
   </div>
   {if condition="$fsc->editar"}<!--Editar Categoria-->
   <div role="tabpanel" class="tab-pane active" id="editar">
   <form class="form" action="{$fsc->url()}" method="post" >
     <input type="hidden" name="id" value="{$fsc->editar->id}"/>
             <div class="container">
                 <h3>Editar Categoría:</h3>
                 <div class="row">
                     <div class="col-md-4">
                       <div class="form-group">
                         Nombre Categoria:
                         <input type="text" name="nombre" value="{$fsc->editar->nombre}" class="form-control"  autocomplete="off" required/>
                       </div>
                     </div>
                     <div class="col-md-8">
                       <div class="form-group">
                         Descripción:
                         <textarea name="descripcion" rows="4" value="" class="form-control" required>{$fsc->editar->descripcion}</textarea>
                       </div>
                     </div>
                 </div>
                 <div class="row">
                   <div class="text-right">
                  <!-- <a href="{$fsc->url()}&delete={$fsc->editar->id}" class="btn btn-sm btn-danger">
                           <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                           &nbsp Eliminar
                       </a> -->
                       <button class="btn btn-sm btn-primary" type="sutmit">
                       <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                           &nbsp Actualizar
                       </button>
                   </div>
                 </div>
            </div>
     </form>
   </div>
   {/if}
{include="footer"}
